<ion-toolbar>
  <ion-buttons slot="secondary">
    
  </ion-buttons>
  <ion-title>Adminstrator Dashboard </ion-title>
  <ion-buttons slot="primary">
    <ion-button fill="solid" color="secondary">
      logout
    
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="container">
<div class="nav2">
 <div class="settings"> <ion-button color="light">Dashboard</ion-button></div>
 <div class="settings"><ion-button color="light">Manage your site</ion-button></div>
 <div class="settings"><ion-button color="light">Add rooms</ion-button></div>
</div>
<div class="website">
<div class="web"><h4>Website overview</h4></div>

</div>
  
<div class="conatiner3">
  
  <div ><ion-icon name="contact"></ion-icon></div>
<div clas="users">
 
  <div class="div3">50</div>
  <div class="div4">users</div>
</div>

</div>
<div class="conatainer4">
    <div class="roomlist"><h4>Room list</h4></div>
</div>

<div class="conatainer5">
    <div class="room"><div class="div6"><img src="../../assets/icon/7 star hotel room interior.jpg" width="95%" height="100%" ></div> <ion-icon name="create" class="icons"></ion-icon>
    <ion-icon name="trash" class="icons"></ion-icon></div>
   
    <div class="room"><div class="div6"><img src="../../assets/icon/7 star hotel room interior.jpg" width="95%" height="100%" ></div> <ion-icon name="create" class="icons"></ion-icon>
    <ion-icon name="trash" class="icons"></ion-icon></div>
   
    
    <div class="room"><div class="div6"><img src="../../assets/icon/7 star hotel room interior.jpg" width="95%" height="100%" ></div><ion-icon name="create" class="icons"></ion-icon>
    <ion-icon name="trash" class="icons"></ion-icon></div>
    
    
    
</div>
<div class="conatainer8">
    <div class="div11"><h4>Boooked Rooms</h4></div>
</div>
<div class="conatainer6">
  <div class="div6"><img src="../../assets/icon/7 star hotel room interior.jpg" width="50%" height="57%" ></div>
  <div class="details">
      <div class="div8">image</div>
      <div class="div7">Name</div>
      <div class="div8">Email</div>
      <div class="div8">Contact</div>
  </div>
    

   

</div>
  </div>
</ion-content>
